html {
    height: 100%;
    font: 16px Arial, sans-serif;
    color: white;
}
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgba(28, 24, 37, 0.925);
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    justify-items: center;
    align-items: center;
}

.item-control-container {
    width: 80%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.item-container {
    grid-column: 1/2;
    display: grid;
    grid-template:
        'a a a a a a'
        'a a a a a a';
    gap: 4px;
}

.item {
    width: 60px;
    margin: 10px;
    padding: 4px;
    border: 4px solid transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.itemName {
    font-size: 20px;
    font-family: sans-serif;
    font-variant-caps: all-petite-caps;
    padding: .5em;
}

.itemQuant {
    text-align: end;
    border-radius: 5px;
    font-size: 12px;
    padding: 4px;
    font-family: sans-serif;
}

.itemQuantUpdate {
    overflow: hidden;
    animation: quantUpdate .5s ease-out 0s 1 normal none;
}

@keyframes quantUpdate {
    0% {
        background-color: black;
    }
}

.buttonContainer {
    grid-column: 2/2;
    text-align: center;
}

button {
    background-color: rgba(153, 153, 153, 0.329);
    color: white;
    font-size: 20px;
    margin: .5em;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
}

button:focus {
    outline-style: none;
}

button:active {
    background-color: rgba(216, 216, 216, 0.747);
}

.canvas-container {
    padding: 8px 0 0;
}
.canvas {
    width: 80% !important;
    /* height: 200px !important; */
}